:root {
  --primery-color: #212121;
  --secondary-color: #757575;
  --accent-color: #2196f3;
  --contrast-color: #ffffff;
  --background-color: #ffffff;
}
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
.body {
  font-family: 'Roboto', sans-serif;
  color: var(--primery-color);
  background-color: var(--background-color);
}
/* Logo */
.logo {
  color: var(--accent-color);
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);
  letter-spacing: 0.03em;
}
.logo-studio {
  font-family: inherit;
  color: var(--primery-color);
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: calc(36 / 26);
  letter-spacing: 0.03em;
}
/* header */
.contact {
  font-weight: 500;
  color: var(--secondary-color);
}
.contact:hover,
.footer .contact:hover,
.footer .contact:focus,
.contact:focus {
  color: var(--accent-color);
}
/*  navigation */
.nav-link {
  font-family: inherit;
  color: var(--primery-color);
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
}
.nav-link:hover,
.nav-link:focus {
  color: var(--accent-color);
  font-weight: 500;
}
.nav-link-current {
  color: var(--accent-color);
  font-weight: 500;
}
/* Hero */
.section-hero {
  background-color: #2f303a;
}
.text-hero {
  color: var(--contrast-color);
  font-size: 44px;
  line-height: calc(60 / 44);
  font-style: normal;
  font-weight: 900;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.button-hero {
  background-color: var(--accent-color);
  border: var(--accent-color);
  line-height: 160%;
  cursor: pointer;
}
.button:hover,
.button:focus {
  color: var(--contrast-color);
  background-color: #188ce8;
}
.current {
  color: var(--contrast-color);
  background-color: var(--accent-color);
}
.button-text {
  font-family: inherit;
  color: var(--contrast-color);
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
/* No markers , no line*/
a {
  text-decoration: none;
  color: var(--primery-color);
}
ul {
  list-style: none;
}
p {
  color: var(--secondary-color);
}
/* main */
.our-activity h2 {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: calc(42 / 36);
  letter-spacing: 0.03em;
}
.features p {
  font-weight: 400;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
}
.features h3 {
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16/14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.team {
  background-color: #f5f4fa;
}
.team li {
  background-color: var(--background-color);
}
.team-name {
  text-align: center;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(19 / 16);
  letter-spacing: 0.03em;
}
.team-profession {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: calc(19 / 16);
  letter-spacing: 0.03em;
  text-align: center;
}
/* Filers-button */
.filter-button {
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(26 / 16);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primery-color);
  background-color: #f5f4fa;
  cursor: pointer;
  border: 0;
  border-radius: 4px;
}
.filter-buttons .current {
  color: var(--contrast-color);
  background-color: var(--accent-color);
}
.filter-button:hover,
.filter-button:focus {
  color: var(--contrast-color);
  background-color: var(--accent-color);
}
.card h2 {
  font-weight: 700;
  font-size: 18px;
  line-height: calc(36 / 18);
  letter-spacing: 0.06em;
}
.card p {
  font-weight: 400;
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.03em;
}

/* ????? */
.projects .card {
  border-color: var(--secondary-color);
}
/* Footer */
.footer {
  background-color: #2f303a;
}
.footer .logo-studio {
  color: var(--contrast-color);
}
.footer .adress {
  color: rgba(225, 225, 225, 1);
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
}
.footer .contact {
  color: rgba(225, 225, 225, 0.6);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
}
